
.jumbotron {
    background-color: #C4D7B2;
    padding-top: 6rem;
}

.navbar {
    background-color: #41644A;
}

#projects {
    background-color: #C4D7B2;

}

.footer {
    background-color: #70987a;
}

section {
    padding-top: 6rem;
}